.loginBox{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #b093ff; 
    padding-left: 60%;
    padding-top: 1%;
}
.eBar{
    width: 200px;
    padding: 0;
    margin: 0;
}
.pBar {
    width: 200px;
    padding: 0;
    margin: 0;
}
.sBtn {
    font-size: 16px;
    text-align: center;
    width: 80px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0 2em;
    font-weight: bold;

}

.sBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.signUpBtn {
    font-size: 16px;
    text-align: center;
    width: 80px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0 2em;
    background-color: #7c51c2;
}

.signUpBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#emailBar {
    font-size: 16px;
}

#passBar {
    font-size: 16px;
}