
.pt1Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    border: 1px solid grey;
    text-align: center;
    background-color:  #181a20; 
    margin: 1.5em; 
    padding: 0.25em 0;
    border-radius: 1em;
}

#plText1 {
    padding: 0;
    margin: 0;
}
#plText2 {
    padding: 0;
    margin: 0;
}
#plText3 {
    padding: 0;
    margin: 0;
}
#plText4 {
    padding: 0;
    margin: 0;
}
#AdText5 {
    padding: 0;
    margin: 0;
}
#AdText6 {
    padding: 0;
    margin: 0;
}
.platOne {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 6%;
    width: 300px;
}

.platTwo {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 6%;
    width: 300px;
}

.platThree {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 6%;
    width: 300px;
}

.platFour {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 6%;
    width: 300px;
}

.platFive {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 6%;
    width: 300px;
}

.platSix {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 9%;
    width: 300px;
}
.platSeven {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 9%;
    width: 300px;
}
.platEight {
    color: #246bfe;
    border: grey solid 1px;
    border-radius: 5%;
    background-color: #22252e;
    padding-bottom: 2%;
    margin-bottom: 9%;
    width: 300px;
}
#ptgif {
    font-size: 20px;
    color: white;
}
#plGif1 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}

#plGif2 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}
#plGif3 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}
.pt2Container{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#plGif4 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}
#plGif5 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}
#plGif6 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}

#plGif7 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}
#plGif8 {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10%;
    background-color: #696d80;
    margin-top: 2%;
    margin: 1em;
    border-radius: 1em;
}

