.gameContainer {
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.gameBasicInfo {
   margin:1em;
} 

.titleAndPlatform{
    display:flex;
    gap: 2em;
    justify-content: flex-start;
    align-items: flex-start;
}
.titleAndPlatform h1 {
    margin-bottom: 1em;
} 
.titleAndPlatform h2 {
    color: var(--blueAccent);
}

.gameData {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.thiccc {
    font-size: 18px;
    font-weight: 600;
}

.gameScore {
    background-color: var(--blueAccent);
    border-radius: 100%;
    padding:0.45em;
    margin:0 0.25em;
}

.gameSummary {
    margin-top: 2em;
}

.gameData img {
    border-radius: 1em;
}
iframe {
    border-radius: 1em;
}