.AdContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
    justify-content: space-evenly;
}
/* #Adgif{
    border: 2px solid white;
    text-align: center;
    padding-right: 20px;
   
} */
#Agif1{
    height: 190px;
    width: 470px;
    border: 1px solid white;
    border-radius: 1em;
}
.AdGameOne{
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.25em 0;
}
#Agif2{
    height: 190px;
    width: 470px;
    border: 1px solid white;
    border-radius: 1em;
}
.AdGameTwo {
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.25em 0;
}
#Agif3{
    height: 190px;
    width: 470px;
    border: 1px solid white;
    border-radius: 1em;
}
.AdGameThree {
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.25em 0;
}
#Agif4 {
    height: 190px;
    width: 470px;
    border: 1px solid white;
    border-radius: 1em;
}
.AdGameFour  {
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.25em 0;
}
#Agif5 {
    height: 190px;
    width: 470px;
    border: 1px solid white;
    border-radius: 1em;
}
.AdGameFive {
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.25em 0;
}
#Agif6 {
    height: 190px;
    width: 470px;
    border: 1px solid white;
    border-radius: 1em;
}
.AdGameSix {
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.25em 0;
}