.body {
  background-color: white;
}
.navcss {
  background-color: teal;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 0px;
}

.linkList{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 50%;
}

li {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.inputBox { 
  border: 3px solid black;
  border-radius: 28px;
  font-weight: bold;
  background-color: teal;
  height: 30px;
  width: 400px;
  margin-left: 20px;
  
  margin-top: 10px;
}
::placeholder{
  color: aliceblue;
  font-size: medium;
  padding: 10px;
}
ul {
  list-style-type: none;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}