/***** Global CSS *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: var(--mainBckgr);
  font-family: 'Poppins', Helvetica, sans-serif;
  color: #fff;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/***** Colours *****/
/* All colours can be used using var(--colourYouWant) :) */
:root {
  --mainBckgr: #181a20;
  --containerBckgr: #22252e;  
  --blueAccent: #246bfe;
  --blueAccentHov: #215ace;
  --greyAccent: #696d80; /*also secondary text*/
  --purpleAccent: #a169fb;
  --purpleAccentHov: #7c51c2;
  --lightPinkAccent: #ffa6f0;
  --lightOrangeAccent: #fc9b79;
  --lightGreenAccent: #adf2a1;
  --lightPurpleAccent: #b093ff;
}

::selection {
  background: var(--lightPinkAccent);
}
/***** Fonts *****/ 
h1 {
  font-size: 25px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.secText {
  color: var(--greyAccent);
}

.lightGreen {
  color: var(--lightGreenAccent);
}
.lightPink {
  color: var(--lightPinkAccent);
}
.lightOrange {
  color: var(--lightOrangeAccent);
}
.lightPurple {
  color: var(--lightPurpleAccent);
}
button {
  all:unset;
  margin: 0.35em;
  font-size: 17px;
  background-color: #696d80;
  padding: 0.2em 1.1em;
  border-radius: 1em;
}

.blueBtn {
  background-color: var(--blueAccent);
}
.blueBtn:hover {
  background: var(--blueAccentHov);
  transform: scale(1.1);
  cursor: pointer;
}

.purpleBtn {
  background-color: var(--purpleAccent);
}
.purpleBtn:hover {
  background: var(--purpleAccentHov);
  transform: scale(1.1);
  cursor: pointer;
}

.containerStyle {
  background-color: var(--containerBckgr);
  margin: 1.5em; /*change to 1 or 0.75 if already ina small container*/
  padding: 0.25em 0;
  border-radius: 1em;
}

.imgStyle {
  margin: 1em;
  border-radius: 1em;
}